.btn {
    display: inline-block;
    background-color: $colorPrimary;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;

    &:hover {
        background-color: $colorPrimaryLight;
    }

    &--rounded {
        border-radius: 5px;
    }

    &--medium {
        font-size: 0.875rem;
        padding: 0.8rem 1.4rem;
    }

    &--large {
        font-size: 1.875rem;
        padding: 1.8rem 3.5rem;
    }

    &--uppercase {
        text-transform: uppercase
    }

    &--icon {
        margin-left: 2rem;
    }

}